<h1>List of Users</h1>
 
<table>
  <tr>
    <th>Username</th>

        <th colspan="2"></th>
  </tr>
 
  <% @users.each do |user| %>
    <tr>

      <td><%= link_to "#{user.user_name}", user_path(user) %></td>

    </tr>
  <% end %>

  
</table>

