<h1> <%= @user.user_name %>'s wishlists: </h1>

<table>
 
  <% @wishlists.each do |wishlist| %>
    <tr>
      <td><%= link_to "#{wishlist.title}", user_wishlist_path(@user, wishlist)%>

      </td>
    </tr>
  <% end %>
</table>
